/********************************/
/* import globals and nav style */
@import "/css/main.css";

/********************/
/* start feed title */
.feed-title-container {
  width: 100%;
  padding: 1%;
}

.feed-title {
  font-weight: normal;
  font-size: var(--title-font-size);
  text-align: center;
  padding: 1%;
  width: 50%;
  margin: 0 auto;
}
/* end feed title */
/******************/

/*************************/
/* start feed content */
.feed-content-container {
  width: 100%;
  padding: 1%;
}

.feed-content {
  background-color: white;
  display: table;
  margin: 0 auto;
  width: 75%;
}

.post {
  margin: 1%;
  padding: 1%;
  flex: 98%;
}

.post a {
  color: black;
  text-decoration: none;
}

.post a:hover {
  text-decoration: underline;
}

.post-author {
  font-size: var(--uname-font-size);
  margin: 0%;
  padding: 0%;
}

.post-title {
  font-size: var(--title-font-size);
  font-weight: normal;
  padding: 0%;
  margin: 0%;
}

.post-body {
  font-size: var(--body-font-size);
  margin: 0%;
  padding: 0%;
}

.community-name {
  font-size: var(--title-font-size);
  font-weight: normal;
  padding: 0%;
  margin: 0%;
}

.community-about {
  font-size: var(--body-font-size);
  margin: 0%;
  padding: 0%;
}

.community {
  margin: 1%;
  padding: 1%;
  flex: 98%;
}

.community a {
  color: black;
  text-decoration: none;
}

.community a:hover {
  text-decoration: underline;
}
/* end feed content */
/********************/
