/********************************/
/* import globals and nav style */
@import "/css/main.css";

.form-container-container {
  width: 100%;
  padding: 1%;
}

.form-container {
  padding: 1% 40% 1% 40%;
}
