/********************************/
/* import globals and nav style */
@import "/css/main.css";

/*************************/
/* start post title/body */
.post-content-container {
  width: 100%;
  padding: 1%;
}

.post-content {
  width: 60%;
  background-color: white;
  border: 1px solid black;
  padding: 1%;
  display: table;
  margin: 0%;
}

.post-author {
  font-size: var(--uname-font-size);
  text-align: left;
}

.post-author a {
  color: black;
  text-decoration: none;
}

.post-author a:hover {
  text-decoration: underline;
}

.post-title {
  font-size: var(--title-font-size);
  text-align: center;
  padding: 2% 5% 2% 5%;
}

.post-body {
  font-size: var(--body-font-size);
  text-align: left;
}
/* end post titley/body */
/***********************/

/*****************/
/* start comment */
.comment-content-container {
  width: 100%;
  padding: 1%;
}

.comment-content {
  width: 75%;
  background-color: white;
  display: table;
  margin: 0 auto;
}

.comment {
  margin: 1%;
  padding: 1%;
  font-size: var(--body-font-size);
  flex: 98%;
}

.comment-author {
  font-size: var(--uname-font-size);
}

.comment-author a {
  color: black;
  text-decoration: none;
}

.comment-author a:hover {
  text-decoration: underline;
}

.comment-body {
}
/* end comment */
/***************/
