/****************/
/* global style */

* {box-sizing: border-box}

html, body {
  background-color: #CACBCC;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

*:target {
  background-color: yellow !important;
}

.border-box {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.utc-timestamp {
}

.vote-content-wrapper {
  display: flex;
}

.vote-wrapper {
  height: 100%;
  padding: 1%;
  flex: 2%;
}

.arrow-wrapper {
  padding: 3%;
}

.upvote-clicked {
  border-color: orange !important;
}

.upvote-notclicked {
  border-color: black !important;
}

.downvote-clicked {
  border-color: blue !important;
}

.downvote-notclicked {
  border-color: black !important;
}

.arrow {
  border-style: solid;
  border-color: black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow:hover {
  cursor: pointer;
}

.up {
  transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
}

.score-wrapper {
}

.score {
}

.options-container {
  margin: 0% 0% 2% 42%;
}

.option {
  float: left;
  margin: 1% 1%
}

.option:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* end global style */
/********************/

/*******************/
/* community style */

.community-title-container {
  width: 100%;
  padding: 1%;
}

.community-title {
  width: 60%;
  text-align: center;
  font-size: 20px;
  padding: 2% 5% 2% 5%;
  display: table;
  margin: 0 auto;
}

.community-content-container {
  width: 100%;
  padding: 1%;
}

.community-content {
  display: table;
  margin: 0 auto;
  width: 70%;
}

.community-tab-link-container {
  margin: 0% 0% 6% 0%;
}

.community-tab-link {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  font-size: 18px;
  width: 50%;
  height: 100%;
}

.community-tab-content-container {
  display: none;
}

.community-tab-content {
  margin: 1%;
  padding: 1%;
  flex: 98%;
  font-size: 16px;
}

.community-post-title {
  font-size: 16px;
  margin: 0%;
  padding: 0%;
}

.community-post-info {
  font-size: 12px;
  margin: 0%;
  padding: 0%;
}

.community-info-item {
  font-size: 16px;
}
/* end community style */
/***********************/

/**************/
/* feed style */

.feed-title-container {
  width: 100%;
  padding: 1%;
}

.feed-title {
  font-size: 20px;
  text-align: center;
  padding: 1%;
  width: 50%;
  margin: 0 auto;
}

.feed-content-container {
  width: 100%;
  padding: 1%;
}

.feed-content {
  background-color: white;
  display: table;
  margin: 0 auto;
  width: 75%;
}

.feed-post {
  margin: 1%;
  padding: 1%;
  flex: 98%;
}

.feed-post-title {
  font-size: 16px;
}

.feed-post-info {
  font-size: 12px;
}

.feed-community {
  margin: 1%;
  padding: 1%;
  flex: 98%;
}

.feed-community-name {
  font-size: 16px;
  padding: 0%;
  margin: 0%;
}

.feed-community-about {
  font-size: 14px;
  margin: 0%;
  padding: 0%;
}

.feed-community-info {
  font-size: 12px;
}

/* end feed style */
/******************/

/**************/
/* form style */

.form-container-container {
  width: 100%;
  padding: 1%;
}

.form-header-container {
  width: 100%;
  padding: 1%;
  margin: 0% 0% 0% 20%;
}

.form-header {
  width: 60%;
  background-color: white;
  border: 1px solid black;
  padding: 1%;
  display: table;
  margin: 0%;
}

.form-header-info {
  font-size: 12px;
  text-align: left;
}

.form-header-title {
  font-size: 20px;
  text-align: center;
  padding: 2% 5% 2% 5%;
}

.form-header-subtitle {
  font-size: 16px;
  text-align: left;
}

.form-container {
  margin: 0% 25% 0% 25%;
}

.form-container * {
  width: 100%;
}

.login-form {
  padding: 0% 20% 0% 20%;
}

.form-title {
  font-size: 18px;
  padding: 1% 0%;
}

.form-body {
  width: 100%;
  height: 100%;
}

.form-error {
  color: red;
}
/* end form style */
/******************/

/**************/
/* main style */

.top-navigation-container {
  width: 100%;
  padding: 1%;
}

.top-navigation {
  width: 90%;
  overflow: auto;
  display: table;
  margin: 0 auto;
}

.top-navigation a {
  float: left;
  padding: 12px;
  font-size: 16px;
  width: 25%;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .topnav a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
} 
/* end main style */
/******************/

/**************/
/* post style */

.post-content-container {
  width: 100%;
  padding: 1%;
}

.post-content {
  width: 60%;
  background-color: white;
  border: 1px solid black;
  padding: 1%;
  display: table;
  margin: 0%;
}

.post-author {
  font-size: 12px;
  text-align: left;
}

.post-title {
  font-size: 20px;
  text-align: center;
  padding: 2% 5% 2% 5%;
}

.post-body {
  font-size: 16px;
  text-align: left;
}

.comment-content-container {
  width: 100%;
  padding: 1%;
}

.comment-content {
  width: 75%;
  background-color: white;
  display: table;
  margin: 0 auto;
}

.comment {
  margin: 1%;
  padding: 1%;
  font-size: 16px;
  flex: 98%;
}

.comment-info{
  font-size: 12px;
}

.comment-body {
  font-size: 16px;
}
/* end post style */
/******************/

/**************/
/* user style */

.user-title-container {
  width: 100%;
  padding: 1% 1% 0% 1%;
}

.user-title {
  padding: 1% 10% 1% 10%;
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}

.user-content-container {
  width: 100%;
  padding: 1%;
}

.user-content {
  background-color: white;
  display: table;
  margin: 0 auto;
  width: 75%;
}

.user-tab-link-container {
  margin: 0% 0% 6% 0%;
}

.user-tab-link {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  font-size: 18px;
  width: 25%;
  height: 100%;
}

.user-tab-content-container {
  display: none;
}

.user-tab-content {
  margin: 1%;
  padding: 1%;
  flex: 98%;
  font-size: 16px;
}

.user-info-item {
  font-size: 16px;
}

.user-post-title {
  font-size: 16px;
}

.user-post-info {
  font-size: 12px;
}

.user-comment-info {
  font-size: 12px;
}

.user-comment-body {
  font-size: 16px;
}
/* end user style */
/******************/
