
html, body {
	height: 100%;
	font-family: helvetica;
}

#topview {
	border-style: solid;
	padding: 2% 5% 2% 5%;
	margin: 2% 8% 1% 8%;
}

.column {
	display: table-cell;
	width: 35%;
}

#mainview {
	border-style: solid;
	padding: 2%;
	margin: 1% 8% 2% 8%;
}

.tablink {
	/*background-color: #555;*/
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	/*padding: 14px;*/
	/*font-size: 17px;*/
	/*width: 25%;*/
}

.tablink:hover {
	background-color: #777;
}

.tabcontent {
	color: white;
	display: none;
	padding: 100px 20px;
	height: 100%;
}

/*
#user_cont {
	height: 100%;
	margin: 0;
	font-family: Arial;
}
*/

/*
#overview {background-color: red;}
#posts {background-color: green;}
#comments {background-color: blue;}
#comments {background-color: grey;}
*/

