
html, body {
	height: 100%;
	font-family: helvetica;
}

#topview {
	border-style: solid;
	padding: 2% 5% 2% 5%;
	margin: 2% 8% 1% 8%;
}

.column {
	display: table-cell;
	width: 35%;
}

#mainview {
	border-style: solid;
	padding: 2%;
	margin: 1% 8% 2% 8%;
}

