
#user_cont {
	height: 100%;
	margin: 0;
	font-family: Arial;
}

.tablink {
	background-color: #555;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px;
	font-size: 17px;
	width: 25%;
}

.tablink:hover {
	background-color: #777;
}

.tabcontent {
	color: white;
	display: none;
	padding: 100px 20px;
	height: 100%;
}

#overview {background-color: red;}
#posts {background-color: green;}
#comments {background-color: blue;}
#comments {background-color: grey;}

