<div class="vote-content-wrapper">
  <div class="vote-wrapper">
    <div class="arrow-wrapper">
      <div class="arrow up <<UPVOTE_CLICKED>>" onclick="vote(this, 'comment', '<<COMMENT_ID>>')">
      </div>
    </div>
    <div class="score-wrapper">
      <div class="score">
        <<COMMENT_POINTS>>
      </div>
    </div>
    <div class="arrow-wrapper">
      <div class="arrow down <<DOWNVOTE_CLICKED>>" onclick="vote(this, 'comment', '<<COMMENT_ID>>')">
      </div>
    </div>
  </div>

  <<COMMENT>>

</div>
