<!DOCTYPE html>

<!-- this is the main template used by all pages -->

<html>
  <head>
    <meta charset="UTF-8">
    <title>3rd-Place</title>
    <link rel="stylesheet" href="/3p.css">
    <script src="/3p.js"></script>
  </head>

  <body onload="selectOverview()">
    <!-- Top Nav -->
    <div class="top-navigation-container">
      <div class="border-box top-navigation">
        <a href="/">3rd-Place</a>
        <a href="/all">All</a>
        <a href="/communities">Communities</a>
        <a href="<<CLIENT_LINK>>"><<CLIENT_NAME>></a>
      </div>
    </div>

<<PAGE_CONTENT>>

  </body>
</html>
