<!DOCTYPE html>

<!-- this is the main template used by all pages -->

<html>
  <head>
    <meta charset="UTF-8">
    <title>3rd-Place</title>
    {STYLE}
    {SCRIPT}
  </head>

  <body onload="selectOverview()">
    <!-- Top Nav -->
    <div class="top-navigation-container">
      <div class="border-box top-navigation">
        <a href="#">3rd-Place</a>
        <a href="#">Popular</a>
        <a href="#">Communities</a>
        {USER_NAME}
      </div>
    </div>

{PAGE_BODY}

  </body>
</html>
