<!DOCTYPE html>

<!-- this is the main template used by all pages -->

<html>
  <head>
    <meta charset="UTF-8">
    <title>3rd-Place</title>
    <link rel="stylesheet" href="{STYLE}">
    <script src="/templates/main/main.js"></script>
    <script src="{SCRIPT}"></script>
  </head>

  <body onload="selectOverview()">
    <!-- Top Nav -->
    <div class="top-navigation-container">
      <div class="border-box top-navigation">
        <a href="/">3rd-Place</a>
        <a href="/popular">Popular</a>
        <a href="/communities">Communities</a>
        <a href="{USER_LINK}">{USER_NAME}</a>
      </div>
    </div>

{PAGE_BODY}

  </body>
</html>
