    <div class="form-container-container">

      <div class="form-header-container">
        <div class="form-header">
          <div class="form-header-info">
            <em><div class="utc-timestamp"><<COMMUNITY_DATE_CREATED>></div></em>
            <em>owned by</em> <a href="/user?id=<<COMMUNITY_OWNER_ID>>"><<COMMUNITY_OWNER_NAME>></a>
          </div>
          <div class="form-header-title">
            <a href="community?id=<<COMMUNITY_ID>>"><<COMMUNITY_NAME>></a>
          </div>
        </div>
      </div>

      <div class="form-container">
	      <div class="form-error"><<OPT_EDIT_COMMUNITY_FORM_ERR>></div>
        <form action="/update_community_about" method="post">
          <input type="hidden" name="id" value="<<COMMUNITY_ID>>">
          <label for="about">Edit about:</label><br>
          <textarea id="about" autofocus name="about" maxlength="512" placeholder="512 character limit" rows="6"><<OPT_SUBMITTED_COMMUNITY_ABOUT>></textarea><br>
          <input type="submit" value="Submit"><br>
        </form>
      </div>

      <br>

      <div class="form-container">
        <div class="form-error"><<OPT_NEW_MOD_FORM_ERR>></div>
        <form action="/new_moderator" method="post">
          <input type="hidden" name="id" value="<<COMMUNITY_ID>>">
          <label for="name">Add new moderator:</label><br>
          <input type="text" id="name" name="name" maxlength="16" placeholder="User name"><br>
          <input type="submit" value="Submit"><br>
        </form>
      </div>
    </div>
