    <div class="form-container-container">

      <div class="form-header-container">
        <div class="form-header">
          <div class="form-header-info">
            created on <div class="utc-timestamp"><<COMMUNITY_DATE_CREATED>></div>
            owned by <a href="/user?id=<<COMMUNITY_OWNER_ID>>"><<COMMUNITY_OWNER_NAME>></a>
          </div>
          <div class="form-header-title">
            <a href="community?id=<<COMMUNITY_ID>>"><<COMMUNITY_NAME>></a>
          </div>
        </div>
      </div>

      <div class="form-container">
	      <div class="form-error"><<OPT_EDIT_COMMUNITY_FORM_ERR>></div>
        <form id="form" class="form-body" action="/update_community" method="post">
          <input type="hidden" name="id" value="<<COMMUNITY_ID>>">
          <label for="about">Edit about:</label><br>
          <textarea id="about" name="about" maxlength="512" placeholder="512 character limit" rows="6"><<OPT_SUBMITTED_COMMUNITY_ABOUT>></textarea><br>
          <input type="submit" value="Submit"><br>
        </form>
      </div>
    </div>
