    <div class="form-container-container">

      <div class="post-content-container" style="margin: 0% 0% 0% 20%;">
        <div class="post-content">
          <div class="post-title">
            Editing user '<<USER_NAME>>'
          </div>
        </div>
      </div>

      <div class="form-container">
        <<OPT_EDIT_USER_ABOUT_ERR>>
        <form action="/update_user_about" method="post">
          <label for="about">Edit about:</label><br>
          <textarea id="about" class="form-body" autofocus type="text" name="about" maxlength="256" placeholder="256 character limit" rows="6"><<OPT_SUBMITTED_USER_ABOUT>></textarea><br>
          <input type="submit" value="Submit"><br>
        </form>
      </div>
    </div>
