    <div class="form-container-container">
      <div class="form-header-container">
        <div class="form-header">
          <div class="form-header-info">
            posted on <div class="utc-timestamp"><<POST_DATE_POSTED>></div>
            by <a href="/user?id=<<POST_AUTHOR_ID>>"><<POST_AUTHOR_NAME>></a>
            in <a href="/community?id=<<POST_COMMUNITY_ID>>"><<POST_COMMUNITY_NAME>></a>
          </div>
          <div class="form-header-title">
            <a href="/post?id=<<POST_ID>>"><<POST_TITLE>></a>
          </div>
        </div>
      </div>

      <div class="form-container">
        <div class="form-error"><<OPT_EDIT_POST_FORM_ERR>></div>
        <form action="/update_post" method="post">
          <input type="hidden" name="id" value="<<POST_ID>>">
          <label for="body">Edit post:</label><br>
          <textarea id="body" autofocus name="body" maxlength="512" placeholder="512 character limit" rows="6"><<OPT_SUBMITTED_POST_BODY>></textarea><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
