  <div class="form-container-container">
    <div class="form-header-container">
      <div class="form-header">
        <div class="form-header-info">
          posted on <div class="utc-timestamp"><<POST_DATE_POSTED>></div>
          by <a href="/user?id=<<POST_AUTHOR_ID>>"><<POST_AUTHOR_NAME>></a>
          in <a href="/community?id=<<POST_COMMUNITY_ID>>"><<POST_COMMUNITY_NAME>></a>
        </div>
        <div class="form-header-title">
          <a href="/post?id=<<POST_ID>>"><<POST_TITLE>></a>
        </div>
        <div class="form-header-subtitle">
          <<POST_BODY>>
        </div>
      </div>
    </div>

    <div class="form-container">
      <div class="form-error"><<OPT_EDIT_COMMENT_FORM_ERR>></div>
      <form class="form-body" action="/update_comment" method="post">
        <input type="hidden" name="id" value="<<COMMENT_ID>>">
        <label for="body">Edit comment:</label><br>
        <textarea id="body" autofocus name="body" maxlength="256" placeholder="256 character limit" rows="6"><<OPT_SUBMITTED_COMMENT_BODY>></textarea><br>
        <input type="submit" value="Submit"><br>
      </form>
    </div>
  </div>
