    <div class="form-container-container">
      <div class="form-container">
        <h2><<COMMUNITY_NAME>></h2>
	<<OPT_EDIT_COMMUNITY_FORM_ERR>>
        <form action="/edit_community" method="put">
          <input type="hidden" name="community_id" value="<<COMMUNITY_ID>>">
          <label for="body">Edit about:</label><br>
          <input id="body" class="form-body" type="text" name="about" value="<<OPT_SUBMITTED_COMMUNITY_ABOUT>>"><br>
          <input type="submit" value="Submit"><br>
        </form>
      </div>
    </div>
