    <div class="form-container-container">
      <div class="form-header-container">
        <div class="form-header">
          <div class="form-header-title">
            New Community
          </div>
        </div>
      </div>

      <div class="form-container">
        <<OPT_COMMUNITY_FORM_ERR>>
        <form class="form-body" action="/new_community" method="post">
          <label for="title">Name:</label><br>
          <input id="title" autofocus type="text" name="name" maxlength="32" placeholder="[A-Za-z0-9_] 32 character limit" value="<<OPT_SUBMITTED_COMMUNITY_NAME>>"><br>
          <label for="about">About:</label><br>
          <textarea id="about" name="about" maxlength="512" placeholder="512 character limit" rows="6"><<OPT_SUBMITTED_COMMUNITY_ABOUT>></textarea><br>
          <input type="submit" value="Submit"><br>
        </form>
      </div>
    </div>
