    <div class="form-container-container">

      <div class="post-content-container" style="margin: 0% 0% 0% 20%;">
        <div class="post-content">
          <div class="post-title">
            New post in <<COMMUNITY_NAME>>
          </div>
          <div class="post-body">
            <<COMMUNITY_ABOUT>>
          </div>
        </div>
      </div>

      <div class="form-container">
        <<OPT_POST_FORM_ERR>>
        <form action="/new_post" method="post">
          <input type="hidden" name="id" value="<<COMMUNITY_ID>>">
          <label for="title">Title:</label><br>
          <input id="title" class="form-title" autofocus type="text" maxlength="32" placeholder="32 character limit" name="title" value="<<OPT_SUBMITTED_POST_TITLE>>"><br><br>
          <label for="body">Body:</label><br>
          <textarea id="body" class="form-body" type="text" name="body" maxlength="512" placeholder="512 character limit" rows="6"><<OPT_SUBMITTED_POST_BODY>></textarea><br>
          <input type="submit" value="Submit"><br>
        </form>
      </div>
    </div>
