  <div class="form-container-container">
    <div class="post-content-container" style="margin: 0% 0% 0% 20%;">
      <div class="post-content">
        <div class="post-author">
          <div class="utc-timestamp"><<POST_DATE_POSTED>></div>
          by <a href="/u/<<POST_AUTHOR_NAME>>"><<POST_AUTHOR_NAME>></a>
          in <a href="/c/<<POST_COMMUNITY_NAME>>"><<POST_COMMUNITY_NAME>></a>
        </div>
        <div class="post-title">
          <<POST_TITLE>>
        </div>
        <div class="post-body">
          <<POST_BODY>>
        </div>
      </div>
    </div>

    <div class="form-container">
      <<OPT_EDIT_COMMENT_FORM_ERR>>
      <form action="/new_comment" method="post">
        <input type="hidden" name="post_id" value="<<POST_ID>>">
        <label for="body">New comment:</label><br>
        <textarea id="body" class="form-body" autofocus type="text" name="body" maxlength="256" placeholder="256 character limit" rows="6"><<OPT_SUBMITTED_COMMENT_BODY>></textarea><br>
        <input type="submit" value="Submit"><br>
      </form>
    </div>
  </div>
