
<div class="form-container-container">

  <div class="form-container">
    {LOGIN_ERROR}
    <h2>Log in</h2>
    <form action="/login" method="post">
      <label for="uname">Username:</label><br>
      <input type="text" id="uname" name="uname" value=""><br>
      <label for="passwd">Password:</label><br>
      <input type="text" id="passwd" name="passwd" value=""><br>
      <input type="submit" value="Login"><br>
    </form>
  </div>

  <div class="form-container">
    {SIGNUP_ERROR}
    <h2>Sign up</h2>
    <form action="/signup" method="post">
      <label for="uname">Username:</label><br>
      <input type="text" id="uname" name="uname" value=""><br>
      <label type="passwd">Password:</label><br>
      <input type="text" id="passwd" name="passwd" value=""><br>
      <input type="submit" value="Sign Up"><br>
    </form> 
  </div>

</div>
