    <div class="community-title-container">
      <div class="community-title border-box">
        <<COMMUNITY_NAME>>
      </div>
    </div>

    <div class="options-container">
      <div class="community-options">
        <a href="#" onclick="subscribe(this, '<<COMMUNITY_ID>>');">[<<COMMUNITY_SUBSCRIPTION_STATUS>>]</a>
        <a href="/new_post?id=<<COMMUNITY_ID>>">[new post]</a>
        <a href="/edit_community?id=<<COMMUNITY_ID>>" style="visibility: <<EDIT_OPTION_VISIBILITY>>;">[edit community]</a>
        <a href="javascript:deleteObject('community', '<<COMMUNITY_ID>>');" style="visibility: <<DELETE_OPTION_VISIBILITY>>;">[delete community]</a>
      </div>
    </div>

    <div class="community-content-container">
      <div class="community-content border-box">

        <div class="community-tab-link-container">
          <button id="default-tab" class="community-tab-link" onclick="openCommunityTab('post-list', this)">Posts</button>
          <button class="community-tab-link" onclick="openCommunityTab('about', this)">About</button>
        </div>

        <div id="post-list" class="community-tab-content-container">
          <<OPT_COMMUNITY_POST_LIST>>
        </div>

        <div id="about" class="community-tab-content-container">
          <div class="community-tab-content border-box">
            <div class="community-info-item"><em>Created:</em> <div class="utc-timestamp"><<COMMUNITY_DATE_CREATED>></div></div><br>
            <div class="community-info-item"><em>Owned by:</em> <a href="/user?id=<<COMMUNITY_OWNER_ID>>"><<COMMUNITY_OWNER_NAME>></a></div><br>
            <div class="community-info-item"><em>Members:</em> <<COMMUNITY_MEMBERS>></div><br>
            <div class="community-info-item"><em>Moderators:</em></div>
            <<COMMUNITY_MOD_LIST>><br>
            <div class="community-info-item" style="white-space: pre-wrap;"><em>About:</em><br><<COMMUNITY_ABOUT>></div>
          </div>
        </div>

      </div>
    </div>
