    <div class="community-title-container">
      <div class="community-title border-box">
        <<COMMUNITY_NAME>>
      </div>
    </div>

    <div class="options-container">
      <div class="option" onclick="subscribe(this, '<<COMMUNITY_ID>>');">[<<COMMUNITY_SUBSCRIPTION_STATUS>>]</div>
      <div class="option">
        <a href="/new_post?id=<<COMMUNITY_ID>>">[write post]</a>
      </div>
      <div class="option" style="visibility: <<EDIT_OPTION_VISIBILITY>>;">
        <a href="/edit_community?id=<<COMMUNITY_ID>>">[edit community]</a>
      </div>
      <div class="option" style="visibility: <<DELETE_OPTION_VISIBILITY>>;" onclick="deleteObject('community', '<<COMMUNITY_ID>>');">
        [delete community]
      </div>
    </div>

    <div class="community-content-container">
      <div class="community-content border-box">

        <div class="community-tab-link-container">
          <button id="default-tab" class="community-tab-link" onclick="openCommunityTab('post-list', this)">Posts</button>
          <button class="community-tab-link" onclick="openCommunityTab('about', this)">About</button>
        </div>

        <div id="post-list" class="community-tab-content-container">
          <<OPT_COMMUNITY_POST_LIST>>
        </div>

        <div id="about" class="community-tab-content-container">
          <div class="community-tab-content border-box">
            <div class="community-info-item">Created: <div class="utc-timestamp"><<COMMUNITY_DATE_CREATED>></div></div><br>
            <div class="community-info-item">Members: <<COMMUNITY_MEMBERS>></div><br>
            <div class="community-info-item">About:<br><<COMMUNITY_ABOUT>></div>
          </div>
        </div>

      </div>
    </div>
