    <div class="community-title-container">
      <div class="community-title border-box">
        {COMMUNITY_NAME}
      </div>
    </div>

    <div class="community-content-container">
      <div class="community-content border-box">

        <div class="community-tab-link-container">
          <button id="default-tab" class="community-tab-link" onclick="openPage('post-list', this)">Posts</button>
          <button class="community-tab-link" onclick="openPage('about', this)">About</button>
        </div>

        <div id="post-list" class="community-tab-content-container">
          {NEXT_ITEM}
        </div>

        <div id="about" class="community-tab-content-container">
          <div class="community-tab-content border-box">
            <p>Created:</p>
            <p class="utc-timestamp">{DATE_CREATED}</p>
            <p>{COMMUNITY_ABOUT}</p>
          </div>
        </div>

      </div>
    </div>
