    <div class="feed-title-container">
      <div class="feed-title border-box">
        <!-- This will either be "Home", "All", or "Communities" -->
        <<FEED_TITLE>>
      </div>
    </div>

    <div class="options-container">
      <div class="feed-options" style="visibility: <<NEW_OPTION_VISIBILITY>>;">
        <a href="/new_community">[new community]</a>
      </div>
    </div>

    <div class="feed-content-container">
      <div class="feed-content border-box">
        <<OPT_FEED_ITEM_LIST>>
      </div>
    </div>
