    <div class="feed-title-container">
      <div class="feed-title border-box">
        <<FEED_TITLE>>
      </div>
    </div>

    <div class="options-container">
      <div class="feed-options" style="visibility: <<NEW_OPTION_VISIBILITY>>;">
        <a href="/new_community">[new community]</a>
      </div>
    </div>

    <div class="feed-content-container">
      <div class="feed-content border-box">
        <<FEED_ITEM_LIST>>
      </div>
    </div>
    <div class="pager-container">
      <div class="pager">
        <label for="page-no">Page Number:</label>
        <input id="page-no" type="number" size="5" min="1" value="<<PAGE_NO>>">
        <label for="page-size">Page Size:</label>
        <input id="page-size" type="number" size="5" min="5" max="100" step="5" value="<<PAGE_SIZE>>">
        <input type="button" value="Go" onclick="pagerGo()">
        <input type="button" value="Previous" onclick="pagerPrevious()">
        <input type="button" value="Next"i onclick="pagerNext()">
      </div>
    </div>
