<div class="user-content-container">
  <div class="tab-conent">

    <div class="tab-link-container">
      <button id="default-tab" class="tab-link" onclick="openPage('overview', this);">Overview</button>
      <button class="tab-link" onclick="openPage('posts', this);">Posts</button>
      <button class="tab-link" onclick="openPage('comments', this);">Comments</button>
      <button class="tab-link" onclick="openPage('about', this);">About</button>
    </div>

    <div id="overview" class="tab-content-container">
      <div class="tab-content">
        <p>Points: {USER_POINTS}</p>
        <p>Posts: {USER_POSTS}</p>
        <p>Comments: {USER_COMMENTS}</p>
      </div>
    </div>

    <div id="posts" class="tab-content-container">
      {POST_STUB}
    </div>

    <div id="comments" class="tab-content-container">
      {COMMENT_BODY}
    </div>

    <div id="about" class="tab-content-container">
      <div class="tab-content">
        {ABOUT_USER}
      </div>
    </div>

  </div>
</div>
