<div id="<<COMMENT_ID>>" class="comment border-box">

  <div class="comment-info">
    <em><div class="utc-timestamp"><<COMMENT_DATE_POSTED>></div></em>
    <em>by</em> <a href="/user?id=<<COMMENT_AUTHOR_ID>>"><<COMMENT_AUTHOR_NAME>></a>
  </div>

  <div class="comment-body">
    <<COMMENT_BODY>>
  </div>

  <div class="options-container">
    <div class="comment-options" style="visibility: <<EDIT_OPTION_VISIBILITY>>;">
      <a href="/edit_comment?id=<<COMMENT_ID>>">[edit comment]</a>
      <a href="javascript:deleteObject('comment', '<<COMMENT_ID>>');">[delete comment]</a>
    </div>
  </div>

</div>
