<div id="<<COMMENT_ID>>" class="comment border-box">

  <div class="comment-info">
    <div class="utc-timestamp"><<COMMENT_DATE_POSTED>></div>
    <a href="/user?id=<<COMMENT_AUTHOR_ID>>"><<COMMENT_AUTHOR_NAME>></a>
  </div>

  <div class="comment-body">
    <<COMMENT_BODY>>
  </div>

  <div class="options-container">
    <div class="option" style="visibility: <<EDIT_OPTION_VISIBILITY>>;">
      <a href="/edit_comment?id=<<COMMENT_ID>>">[edit comment]</a>
    </div>
    <div class="option" style="visibility: <<DELETE_OPTION_VISIBILITY>>;" onclick="deleteObject('comment', '<<COMMENT_ID>>');">
      [delete comment]
    </div>
  </div>

</div>
