<div class="vote-content-wrapper">
  <div class="vote-wrapper" style="margin: 0% 0% 0% 25%;">
    <div class="arrow-wrapper">
      <div class="arrow up <<UPVOTE_CLICKED>>" onclick="vote(this, 'post', '<<POST_ID>>')">
      </div>
    </div>
    <div class="score-wrapper">
      <div class="score">
        <<POST_POINTS>>
      </div>
    </div>
    <div class="arrow-wrapper">
      <div class="arrow down <<DOWNVOTE_CLICKED>>" onclick="vote(this, 'post', '<<POST_ID>>')">
      </div>
    </div>
  </div>

  <div class="post-content-container">
    <div class="post-content">
      <div class="post-author">
        <div class="utc-timestamp"><<POST_DATE_POSTED>></div>
        by <a href="/user?id=<<POST_AUTHOR_ID>>"><<POST_AUTHOR_NAME>></a>
        in <a href="/community?id=<<POST_COMMUNITY_ID>>"><<POST_COMMUNITY_NAME>></a>
      </div>
      <div class="post-title">
        <<POST_TITLE>>
      </div>
      <div class="post-body">
        <<POST_BODY>>
      </div>
    </div>
  </div>
</div>

<div class="options-container">
  <div class="option">
    <a href="/new_comment?id=<<POST_ID>>">[write comment]</a>
  </div>
  <div class="option" style="visibility: <<EDIT_OPTION_VISIBILITY>>;">
    <a href="/edit_post?id=<<POST_ID>>">[edit post]</a>
  </div>
  <div class="option" style="visibility: <<DELETE_OPTION_VISIBILITY>>;" onclick="deleteObject('post', '<<POST_ID>>');">
    [delete post]
  </div>
</div>

<div class="comment-content-container">
  <div class="comment-content border-box">

<<OPT_POST_COMMENT_LIST>>

  </div>
</div>
