
:root {
  --nav-font-size: 17px;
  --title-font-size: 20px;
  --body-font-size: 15;
  --uname-font-size: 12;
}

/* start nav style */

* {box-sizing: border-box}

html, body {
  background-color: #CACBCC;
}

.top-navigation-bar-container {
  width: 100%;
  padding: 1%;
}

.top-navigation-bar {
  background-color: white;
  border: 1px solid black;
  width: 90%;
  overflow: auto;
  display: table;
  margin: 0 auto;
}

.top-navigation-bar a {
  float: left;
  padding: 12px;
  text-decoration: none;
  font-size: var(--nav-font-size);
  width: 25%;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .topnav a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* end nav style */

/* start post style */

.post-container {
  width: 100%;
  padding: 1%;
}

.post {
  width: 60%;
  background-color: white;
  border: 1px solid black;
  padding: 1%;
  display: table;
  margin: 0 auto;
}

.post-author {
  font-size: var(--user-font-size);
  text-align: left;
}

.post-author a {
  color: black;
  text-decoration: none;
}

.post-author a:hover {
  text-decoration: underline;
}

.post-title {
  font-size: var(--title-font-size);
  text-align: center;
  padding: 2% 5% 2% 5%;
}

.post-body {
  font-size: var(--body-font-size);
  text-align: left;
}

.comment-container-container {
  width: 100%;
  padding: 1%;
}

.comment-container {
  width: 75%;
  background-color: white;
  border: 1px solid black;
  display: table;
  margin: 0 auto; 
}

.comment {
  margin: 2% 1% 2% 1%;
  padding: 1%;
  border: 1px solid black;
  font-size: var(--body-font-size)
}

