
* {box-sizing: border-box}

html, body {
  background-color: #CACBCC;
}

.top-navigation-bar-container {
  width: 100%;
  padding: 1%;
}

.top-navigation-bar {
  background-color: white;
  border: 1px solid black;
  width: 90%;
  overflow: auto;
  display: table;
  margin: 0 auto;
}

.top-navigation-bar a {
  float: left;
  padding: 12px;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .topnav a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

.user-title-container {
  width: 100%;
  padding: 1%;
}

.user-title {
  background-color: white;
  border: 1px solid black;
  padding: 1% 10% 1% 10%;
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
}

.user-content-container {
  width: 100%;
  padding: 1%;
}

.user-content {
  background-color: white;
  border: 1px solid black;
  display: table;
  margin: 0 auto;
  width: 75%;
}

.tab-link-container {
  margin: 0% 0% 6% 0%;
}

.tab-link {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  font-size: 17px;
  width: 25%;
  height: 100%;
}

.tab-content-container {
  display: none;
}
.tab-content-container a {
  color: black;
  text-decoration: none;
}

.tab-content-container a:hover {
  text-decoration: underline;
}

.tab-content {
  margin: 3% 1% 1% 1%;
  padding: 1%;
  border: 1px solid black;
}

