    <div class="form-container-container">
      <div class="form-container">
        <h2>New Community:</h2>
        <form action="/new_community" method="post">
          <label for="title">Name:</label><br>
          <input id="title" class="form-title" type="text" name="name" value=""><br>
          <label for="body">About:</label><br>
          <input id="body" class="form-body" type="text" name="about" value=""><br>
          <input type="submit" value="Submit"><br>
        </form>
      </div>
    </div>
