<div class="user-title-container">
  <div class="user-title border-box">
    <<USER_NAME>>
  </div>
</div>

<div class="options-container">
  <div class="option" style="visibility: <<EDIT_OPTION_VISIBILITY>>;">
    <a href="/edit_user">[edit user]</a>
  </div>
  <div class="option" style="visibility: <<LOGOUT_OPTION_VISIBILITY>>;" onclick="logOut();">
    [logout]
  </div>
  <div class="option" style="visibility: <<DELETE_OPTION_VISIBILITY>>;" onclick="deleteUser('<<USER_NAME>>');">
    [delete account]
  </div>
</div>

<div class="user-content-container">
  <div class="user-content border-box">

    <div class="user-tab-link-container">
      <button id="default-tab" class="user-tab-link" onclick="openUserTab('overview', this);">Overview</button>
      <button class="user-tab-link" onclick="openUserTab('posts', this);">Posts</button>
      <button class="user-tab-link" onclick="openUserTab('comments', this);">Comments</button>
      <button class="user-tab-link" onclick="openUserTab('about', this);">About</button>
    </div>

    <div id="overview" class="user-tab-content-container">
      <div class="user-tab-content border-box">
        <div class="user-info-item">Points: <<USER_POINTS>></div><br>
        <div class="user-info-item">Posts: <<USER_POST_COUNT>></div><br>
        <div class="user-info-item">Comments: <<USER_COMMENT_COUNT>></div><br>
        <div class="user-info-item">Joined: <div class="utc-timestamp" style="display: inline;"><<USER_DATE_JOINED>></div></div>
      </div>
    </div>

    <div id="posts" class="user-tab-content-container">
      <<OPT_USER_POST_LIST>>
    </div>

    <div id="comments" class="user-tab-content-container">
      <<OPT_USER_COMMENT_LIST>>
    </div>

    <div id="about" class="user-tab-content-container">
      <div class="user-tab-content border-box">
        <<USER_ABOUT>>
      </div>
    </div>

  </div>
</div>
