<div class="user-title-container">
  <div class="user-title border-box">
    <<USER_NAME>>
  </div>
</div>

<div class="options-container">
  <div class="user-options">
    <a href="/edit_user" style="visibility: <<EDIT_OPTION_VISIBILITY>>;">[edit user]</a>
    <a href="/subscriptions" style="visibility: <<SUBSCRIPTIONS_OPTION_VISIBILITY>>;">[subscriptions]</a>
    <a href="javascript:logOut();" style="visibility: <<LOGOUT_OPTION_VISIBILITY>>;">[logout]</a>
    <a href="javascript:deleteObject('user', '<<USER_ID>>');" style="visibility: <<DELETE_OPTION_VISIBILITY>>;">[delete account]</a>
  </div>
</div>

<div class="user-content-container">
  <div class="user-content border-box">

    <div class="user-tab-link-container">
      <button id="default-tab" class="user-tab-link" onclick="openUserTab('overview', this);">Overview</button>
      <button class="user-tab-link" onclick="openUserTab('posts', this);">Posts</button>
      <button class="user-tab-link" onclick="openUserTab('comments', this);">Comments</button>
      <button class="user-tab-link" onclick="openUserTab('about', this);">About</button>
    </div>

    <div id="overview" class="user-tab-content-container">
      <div class="user-tab-content border-box">
        <<OPT_USER_ADMIN>><br>
        <<OPT_USER_OWNER_LIST>><br>
        <<OPT_USER_MOD_LIST>><br>
        <div class="user-info-item"><em>Points:</em> <<USER_POINTS>></div><br>
        <div class="user-info-item"><em>Posts:</em> <<USER_POST_COUNT>></div><br>
        <div class="user-info-item"><em>Comments:</em> <<USER_COMMENT_COUNT>></div><br>
        <div class="user-info-item"><em>Joined:</em> <div class="utc-timestamp" style="display: inline;"><<USER_DATE_JOINED>></div></div>
      </div>
    </div>

    <div id="posts" class="user-tab-content-container">
      <<OPT_USER_POST_LIST>>
    </div>

    <div id="comments" class="user-tab-content-container">
      <<OPT_USER_COMMENT_LIST>>
    </div>

    <div id="about" class="user-tab-content-container">
      <div class="user-tab-content border-box" style="white-space: pre-wrap;"><<USER_ABOUT>></div>
    </div>

  </div>
</div>
