<div class="user-title-container">
  <div class="user-title border-box">
    u/testuser1
  </div>
</div>

<div class="user-content-container">
  <div class="user-content border-box">

    <div class="user-tab-link-container">
      <button id="default-tab" class="user-tab-link" onclick="openPage('overview', this);">Overview</button>
      <button class="user-tab-link" onclick="openPage('posts', this);">Posts</button>
      <button class="user-tab-link" onclick="openPage('comments', this);">Comments</button>
      <button class="user-tab-link" onclick="openPage('about', this);">About</button>
    </div>

    <div id="overview" class="user-tab-content-container">
      <div class="user-tab-content border-box">
        <p>Points: {USER_POINTS}</p>
        <p>Posts: {USER_POSTS}</p>
        <p>Comments: {USER_COMMENTS}</p>
      </div>
    </div>

    <div id="posts" class="user-tab-content-container">
      {POST_STUB}
    </div>

    <div id="comments" class="user-tab-content-container">
      {COMMENT_STUB}
    </div>

    <div id="about" class="user-tab-content-container">
      <div class="user-tab-content border-box">
        {ABOUT_USER}
      </div>
    </div>

  </div>
</div>
