/********************************/
/* import globals and nav style */
@import "../main/main.css";

/********************/
/* start user title */
.user-title-container {
  width: 100%;
  padding: 1%;
}

.user-title {
  padding: 1% 10% 1% 10%;
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: var(--title-font-size);
}
/* end user title */
/******************/

/**********************/
/* start user content */
.user-content-container {
  width: 100%;
  padding: 1%;
}

.user-content {
  background-color: white;
  display: table;
  margin: 0 auto;
  width: 75%;
}

.user-tab-link-container {
  margin: 0% 0% 6% 0%;
}

.user-tab-link {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  font-size: var(--nav-font-size);
  width: 25%;
  height: 100%;
}

.user-tab-content-container {
  display: none;
}

.user-tab-content-container a {
  color: black;
  text-decoration: none;
}

.user-tab-content-container a:hover {
  text-decoration: underline;
}

.user-tab-content {
  margin: 3% 1% 1% 1%;
  padding: 1%;
}

.user-tab-content h3 {
  font-weight: normal;
}
/* end user content */
/********************/
